.wrap{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 555;

    .content{
        position: relative;
        width: 500px;
        height: 500px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
        background-color: #222222;

        .close{
            position: absolute;
            right: 30px;
            top: 20px;
            font-size: 30px;
        }
    }
}