.Filmpage {
  width: 100%;
  height: 100vh;
  //padding: 50px 0;


  > .cont {
    width: 80%;
    margin: auto;
    display: flex;
    gap: 40px;


    > nav {
      padding: 50px 0;
      width: 250px !important;
      border-right: 1px solid white;
      height: 100vh;
      position: sticky;
      top: 0;
      left: 0;

      > ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;

        > li {
          &:hover {
            color: red;
            cursor: pointer;
            border-left: 1px solid white;
            padding: 0 10px;
            transition: .5s ease-in-out;
          }

          &:active {
            border-left: 1px solid white;
            padding: 0 10px;
            transition: .5s ease-in-out;
          }
        }
      }
    }

    .cont_left {
      padding: 50px 0;
      display: flex;
      flex-direction: column;
      overflow: scroll;
      scrollbar-width: none;
      /* Убираем индикаторы скролла в Firefox */
      -ms-overflow-style: none;


      .film {
        position: relative;
        width: 1000px;
        height: 400px;
        overflow: hidden;
        border: .5px solid white;

        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-image: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.67) 45%);
        }

        > video {
          position: absolute;
          width: auto;
          height: 100%;
          top: 0;
          right: 0;
        }

        > div {
          position: absolute;
          height: 100%;
          padding: 30px;
          top: 10%;
          left: 5%;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 40px;
          z-index: 3;

          > h4 {
            font-size: 35px;
          }

          > p {
            font-size: 20px;
            width: 60%;
            line-height: 1.5;
          }

          > button {
            padding: 10px 20px;
            background-color: transparent;
            border: 1px solid white;
            width: 150px;
            border-radius: 5px;


            &:hover {
              background-color: red;

              > a {
                color: white;
              }
            }

            > a {
              color: white;
            }
          }
        }

        //background: url("https://cdn.pixabay.com/video/2023/12/10/192687-893427276_large.mp4");
      }

      .film_card {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: flex-start;
        gap: 40px;
        padding: 40px 0;

        > article {
          border: 1px solid white;
          width: 250px !important;
          padding: 10px;
          border-radius: 3px;

          > img {
            width: 100%;
            margin: 0 auto;
            height: 200px;
            border-radius: 1px;
          }

          > aside {
            padding: 10px 0 0;
            display: flex;
            flex-direction: column;
            gap: 10px;

            > h5 {
              font-size: 19px;
              font-weight: 400;
            }

            > p {
              font-size: 16px;
              font-weight: 300;
              line-height: 24px;
            }

            > a {
              padding: 10px 20px;
              color: white;
              font-size: 16px;
              border: 1px solid white;
              text-align: center;
              margin-top: 10px;
              border-radius: 3px;

              &:hover {
                background-color: red;
              }
            }
          }
        }

      }
    }

    .wrap {
      width: 100%;
      height: 100vh;
      padding: 50px 0;

      > form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;

        > input {
          width: 100%;
          padding: 10px;
          outline: none;
        }

        > div {
          display: flex;
          justify-content: space-between;
        }

        button {
          padding: 10px 30px;
          border: 1px solid white;
          border-radius: 4px;


          &:hover {
            background-color: red;
            color: white;
            border-radius: 4px;
          }
        }
      }
    }
  }
}