.wrap{
    width: 350px;
    height: 80px;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    box-shadow: 0px 0px 15px 0px #FF4E4E;
    background-color: black;
    border-radius: 15px;
    color: white;
    
    .img{
        width: 60px ;
        height: 60px;
    }
}